body, html
{
    margin: 0px !important;
    padding: 0px !important;
    background-image: url('../../img/core/background.jpg');
    background-repeat: round;
}

.login-center
{
    width: 500px !important;
    margin: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(48, 67, 105, 0.6);
    padding: 75px;
    border-radius: 50px;
}


.login-center-container
{
    width: 500px;
    margin: auto;
    transform: none;
    position: initial;
}

.login-center-container input
{
    font-size: 15px;
    height: 35px;
}

.login-center-container form span
{
    font-size: 15px;
    line-height: 30px;
}

.title-login
{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    font-family: Arial,Sans-serif;
}

.error-login
{
    font-size: 12pt;
    color: #fff !important;
    border-radius: 8px;
    display: none;
    width: 500px;
    background-color: indianred;
    margin: auto;
    position: absolute;
    left: 75px;
    text-align: center;
    padding: 5px 0px;
}

.btn-login
{
    color: #fff !important;
/*    background-color: #304368;*/
    background: url(../../img/core/background.jpg);
    border: 2px solid #304368 !important;
    font-weight: bold !important;
    border-radius: 10px !important;
    margin-top: 7px;
    height: 45px !important;
    width: 100%;
    background-position-x: -500px;
    background-position-y: -100px;
}

.input-login
{
    border: 1px solid #304368 !important;
    border-radius: 10px !important;
    margin-top: 7px;
    height: 45px !important;
    color: #304368;
    font-weight: bold;
    text-indent: 41px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-y: 7px;
    background-position-x: 7px;
}

.default-app-pane-south
{
    background-image: url('../../img/core/background.jpg');
    background-position: -350px;
}

.default-app-window .z-window-content,
.launcher-app .z-window-content,
.login-app .z-window-content
{
    margin: 0px;
    padding: 0px;
}

.default-app-pane-west
{
    background: linear-gradient(to bottom,#fefefe 0,#eee 100%);
}

.default-app-pane-north
{
    background-image: url('../../img/core/background.jpg');
    background-position: -350px;
}

.default-app-view-button
{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    height: 70px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to bottom,#fefefe 0,#eee 100%);
}

.default-app-view-button.selected
{
    background: linear-gradient(rgb(213, 228, 234) 0px, rgb(183, 210, 226) 100%);
}

.default-app-view-button img
{
    height: 40px;
    width: auto;
}

.launcher-app 
{
    overflow-y: auto;
}

.launcher-app-button
{
    padding: 20px;
    display: inline-block;
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.59);
    -moz-box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.59);
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.59);
    margin-right: 50px;
    margin-top: 20px;
    background-color: whitesmoke;
    cursor: pointer;
}

.launcher-app-button:hover
{
    background: lightgray;
}

.login-app-container
{
    background: linear-gradient(to bottom,#fefefe 0,#eee 100%);
    max-width: 300px;
    padding: 50px;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.z-window-content
{
    background: #ffffff; /* Old browsers */
}

.default-editor
{
    background-color: #3568d8;
    border-radius: 20px !important;
}

.default-editor-btn-pane
{
    position: absolute;
    right: 10px;
    bottom: 0px;
    height: 40px;
}

.default-editor-btn, 
.default-editor-btn:hover,
.default-editor-btn:focus
{
    width: 115px;
    height: 33px;
    text-align: center;
    line-height: 25px;
    background-color: blue;
    background-image: none;
    color: #fff;
    font-family: Arial,sans-serif;
    font-size: 12px;
    border-radius: 10px;
}


.default-editor-btn img
{
    width: 25px;
    float: left;
}

.default-editor .z-window-content
{
    padding: 0px !important;
}

.default-editor .z-window-header
{
    color: #fff;
}

.me-prompts-info
{
    width: 50%;
    height: 40px;
    background-color: #2ecc71;
    z-index: 90000;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20%;
    color: #fff;
}

.me-prompts-info-text
{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: Arial,sans-serif;
    transform: translateY(50%);
    font-weight: bold;
}

.me-prompts-alert
{
    width: 700px;
    height: 300px;
    background-color: #fbb62f;
    z-index: 90000;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    color: #fff;
}

.me-prompts-alert-text
{
    width: 100%;
    padding-left: 50px;
    font-size: 18px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.me-prompts-alert .close
{
    right: 15px;
    position: absolute;
    top: 5px;
    font-size: 35px;
    cursor: pointer;
}

.me-prompts-alert-title
{
    width: 100%;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 22px;
    margin: 25px 0px;
    font-weight: bold;
}

.posting-list
{
    font-family: Arial,Sans-serif;
    width: 100%;
    padding: 10px 0px;
}

.posting-list .value
{
    font-size: 15px;
    font-weight: normal;
}

.posting-list .icon,
.posting-list .icon img
{
    width: 65px;
    padding: 5px 10px;
}

.posting-list .title
{
    font-size: 22px;
    color:  rgb(48, 67, 105);
    font-weight: bold;
}

.posting-list .info
{
    font-size: 15px;
    width: 125px;
    font-weight: bold;
    color:  rgb(48, 67, 105);
}

.posting-list .details
{
    font-size: 15px;
    width: 200px;
    background-color: rgb(48, 67, 105);
}